technical/mappings/copd/XSD-Example-PMS.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="patients">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="patient">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="protocol">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="line" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="question" use="optional"/>
                            <xs:attribute type="xs:string" name="alerted" use="optional"/>
                            <xs:attribute type="xs:string" name="codevalue" use="optional"/>
                            <xs:attribute type="xs:string" name="term" use="optional"/>
                            <xs:attribute type="xs:string" name="readcode" use="optional"/>
                            <xs:attribute type="xs:long" name="snomed" use="optional"/>
                            <xs:attribute type="xs:string" name="resdate" use="optional"/>
                            <xs:attribute type="xs:byte" name="itemindex" use="optional"/>
                            <xs:attribute type="xs:string" name="units" use="optional"/>
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                            <xs:attribute type="xs:string" name="valuetype" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name"/>
                  <xs:attribute type="xs:byte" name="testid"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="ident"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>